*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jquery-section{
    width: 1200px;
    margin: 50px auto 50px;
}
.sunset, .swan{
    width: 35vw;
}
img{
    width: 100%;
}
.title{
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 5vw;
}
button{
    margin-bottom: 30px;
    outline: none;
    border: 2px solid black;
    background-color: burlywood;
    padding: 10px 35px;
    cursor: pointer;
}